---
title: TD-Treffen Hamburg 2018
---

<!DOCTYPE html>
<html lang="de">

<head>
    {% include templates/head.html title="TD-Treffen Hamburg 2018" %}
</head>


<body>
    {% include templates/header.html %}
    <main>
        <div class="wrap">
            {% capture opener %}{% include opener.md %}{% endcapture %}
            {{ opener | markdownify }}

            {% include templates/city.html %}

            <a href="schedule" class="button button--primary">Zum Programm</a>
        </div>

    </main>
    {% include templates/footer.html %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.3.4/lory.min.js"></script>
    <!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stat.zoller.it/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '4']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//stat.zoller.it/piwik.php?idsite=4&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
</body>

</html>
