---
title: Blogging Like a Hacker
---

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">    

    <title>TD-Treffen Hamburg 2018</title>

    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="apple-touch-icon" href="touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-152x152.png">
    <link rel="mask-icon" href="icon.svg" color="#ff0000">

    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    {% include templates/header.html %}
    <main>
        <div class="wrap">
            {% capture opener %}{% include opener.md %}{% endcapture %}
            {{ opener | markdownify }}

            {% include templates/city.html %}

            {% include templates/hotel.html %}
        </div>
    </main>
    {% include templates/footer.html %}

    <script>
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 53.5600639, lng: 9.9255986 },
                zoom: 11,
                streetViewControl: false,
                mapTypeControl: false
            });
        }
    </script>
    <script src="static/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuGK6Nf1wlZmRhE4eHwVikL7shzmZhj48&callback=initMap" async
        defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lory.js/2.3.4/lory.min.js"></script>
</body>

</html>