<header class="page_header">
    <nav class="main-nav">
        <div class="wrap">
            <ul class="main-nav__list">
                {% for item in site.data.navigation.nav %}
                <li class="main-nav__list-item">
                    <a href="{{ item.url }}" class="main-nav__link {% if item.url == page.url %}main-nav__link--active{% endif %}">{{item.title}}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <div class="wrap">
        <a class="site-title" href="/">
            <svg class="header-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73 100">
                <use xlink:href="static/td_logo.svg#logo_wappen" href="static/td_logo.svg#logo_wappen"></use>
            </svg>
            <span class="title">Hamburg 2018</span>
            <span>31. August - 02. September</span>
        </a>
        <svg class="skyline" viewBox="0 0 2347 738" preserveAspectRatio="xMidYMid meet" width="640" height="201">
            <use xlink:href="static/skyline_hh.svg#skyline" href="static/skyline_hh.svg#skyline"></use>
        </svg>
    </div>
</header>