<form class="form" name="form1" method="post" action="https://www.trainzdepot.net/treffen/anmeldung_result.php">
    <h1 class="headline">Anmeldung zum TrainzDepot-Treffen 2018 in Hamburg</h1>
    <p>
        <strong>Sollten sich Angaben &auml;ndern bzw. erst sp&auml;ter herausstellen, so bitte ich zeitnah um kurze Information via
            <a href="mailto:mail@zoller.it?subject=TrainzDepot-Treffen__Aenderung_Anmeldung">E-Mail</a> oder <a href="https://www.trainzdepot.net/index.php?conversation-add/&userID=1" title="PN an Sebastian" target="_blank">privater Nachricht im TrainzDepot</a>.</strong>
    </p>
    <div class="form-field">
        <label class="form-field__label" for="frm_td_name">TrainzDepot-Benutzername: (optional)</label>
        <input class="form-field__input" name="frm_td_name" type="text" id="frm_td_name" />
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_nachname">Nachname:</label>
        <input class="form-field__input" name="frm_nachname" type="text" id="frm_nachname" required />
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_vorname">Vorname:</label>
        <input class="form-field__input" name="frm_vorname" type="text" id="frm_vorname" required />
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_anschrift">Stra&szlig;e, Hausnummer:</label>
        <input class="form-field__input" name="frm_anschrift" type="text" id="frm_anschrift" required />
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_plz">PLZ, Ort:</label>
        <input class="form-field__input" name="frm_plz" type="text" id="frm_plz" required />
        <input class="form-field__input" name="frm_city" type="text" id="frm_city" required />
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_country">L&auml;nderk&uuml;rzel:</label>
        <input class="form-field__input" name="frm_country" type="text" id="frm_country" required placeholder="DE"/>
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_telefon">Telefonnummer:</label>
        <input class="form-field__input" name="frm_telefon" type="tel" id="frm_telefon"  placeholder="+49"/>
    </div>
    <div class="form-field">
        <label class="form-field__label" for="from_handy">Handynummer:</label>
        <input class="form-field__input" name="frm_handy" type="tel" id="frm_handy" placeholder="+49">
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_mail">E-Mailadresse:</label>
        <input class="form-field__input" name="frm_mail" type="email" id="frm_mail" required />
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_under18">Teilnehmer unter 18 Jahren (R&uuml;cksprache mit Eltern erforderlich):</label>
        <input class="form-field__input" type="checkbox" name="frm_under18" value="Ja">
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_anz_personen">Anzahl Personen:</label>
        <input class="form-field__input" name="frm_anz_personen" type="number" id="frm_anz_personen" value="1" required />
        <div class="form-field__hint">
            <p>Teilnehmer + Begleitung / f&uuml;r weitere "Haupt"teilnehmer m&ouml;glichst getrennte Anmeldung</p>
        </div>
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_zimmertyp">Zimmertyp:</label>
        <select class="form-field__input" name="frm_zimmertyp">
            <option>Einzelzimmer (60&euro;, Zimmer / Nacht)</option>
            <option>Doppelzimmer (85&euro;, Zimmer / Nacht)</option>
            <option>Dreibettzimmer (100&euro;, Zimmer / Nacht)</option>
            <option>Selbstbeschaffung / Kein Zimmer</option>
            <option>Sonstiges (=> Bemerkungen)</option>
        </select>
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_zimmerbelegung">Zimmerbelegung (optional):</label>
        <input class="form-field__input" name="frm_zimmerbelegung" type="text" id="frm_zimmerbelegung">
        <div class="form-field__hint">
            <p>Falls bekannt, wer ist auch im Zimmer?</p>
        </div>
    </div>
        <div class="form-field">
        <label class="form-field__label" for="frm_zusatztag">Teilnahme am Zusatztag <br />(03.09, MiWuLa):</label>
        <input class="form-field__input" type="checkbox" name="frm_zusatztag" value="Ja">
</div>
    <div class="form-field">
        <label class="form-field__label" for="frm_ankunftdatum">Ankunft zum Treffen (Tag, Uhrzeit) (voraussichtlich, optional):</label>
        <input class="form-field__input" name="frm_ankunftdatum" type="date" id="frm_ankunftdatum" placeholder="tt.mm.jjjj">
        <input class="form-field__input" name="frm_ankunftzeit" type="time" id="frm_ankunftzeit" placeholder="--:--">
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_abreisezeit">Abreise vom Treffen (Tag, Uhrzeit) (voraussichtlich, optional):</label>
        <input class="form-field__input" name="frm_abreisedatum" type="date" id="frm_abreisedatum" placeholder="tt.mm.jjjj, --:--">
        <input class="form-field__input" name="frm_abreisezeit" type="time" id="frm_abreisezeit" placeholder="--:--">
    </div>
    <div class="form-field">
        <label class="form-field__label" for="frm_verkehrmittel">Ab- / Heimreise mit (optional):</label>
        <select class="form-field__input" name="frm_verkehrsmittel">
            <option>Bahn</option>
            <option>Bus</option>
            <option>PKW</option>
            <option>Flugzeug</option>
            <option>Sonstiges (=> Bemerkungen)</option>
        </select>
    </div>
    <div class="form-field">
        <label class="form-field__label form-field__label--top" for="frm_mitfahrgelegenheit">Mitfahrgelegenheit (optional):</label>
        <textarea class="form-field__input" name="frm_mitfahrgelegenheit" rows="5" id="frm_mitfahrgelegenheit"></textarea>
        <div class="form-field__hint">
            <p>Bietest oder suchst du eine Mitfahrgelegenheit? Bitte mit Ortsangabe und Art (PKW, Gruppenticket, etc)</p>
        </div>
    </div>
    <div class="form-field">
        <label class="form-field__label form-field__label--top" for="frm_bemerkungen">Bemerkungen (optional):</label>
        <textarea class="form-field__input" name="frm_bemerkungen" rows="5" id="frm_bemerkungen"></textarea>
        <div class="form-field__hint">
            <p>Zus&auml;tzliche Informationen, zB. ein Teilnehmer ist Vegetarier oder Erg&auml;nzungen</p>
            <p>Bitte auch hier angeben, wenn du einen Beitrag im Abendprogramm (Vortrag, Pr&auml;sentation, Quiz...) bringen
                m&ouml;chtest.</p>
        </div>
    </div>

    <p>Mit dieser Anmeldung meldest du dich verbindlich zum TrainzDepot - Treffen 2018 in Hamburg an.
        <br />
        <strong>Zu den &Uuml;bernachtungskosten kommen noch etwa 100&euro; f&uuml;r das Programm hinzu, der genaue Betrag wird
            demn&auml;chst feststehen.</strong>
        <br /> Bitte beachte, dass einige der Teilnahmekosten bereits vor dem Treffen bis zum Anmeldeschluss am 20.07.2018 &uuml;berwiesen
        werden m&uuml;ssen.
        <br /> Details hierzu (z.B. genauer Betrag, Bankverbindung) werden nach Bekanntwerden im Forum und per E-Mail mitgeteilt
        werden.
        <br /> Nur wer die Kosten f&uuml;r das Treffen rechtzeitig bezahlt hat, ist zur Teilnahme am Treffen berechtigt (Ich muss
        selbst in Vorkasse treten!).
        <br /> Sollte ein Teilnehmer nicht zum Treffen erscheinen, behalte ich mir vor, die real angefallenen Kosten zu berechnen
        (z.B. Kosten f&uuml;r Reservierungen, Hotelstorno).
        <br /> Zu unserer eigenen Sicherheit wird bei deiner Anmeldung deine IP-Adresse mit gespeichert.
        <br /> Alle Daten unterliegen dem Datenschutz und werden nicht ohne ausdr&uuml;ckliche Zustimmung an Dritte weitergegeben.
        Nach Anmeldung wirst du für einen gesonderten Forenbereich freigeschaltet, wo Details geklärt und weitere Informationen zu finden sind.
    </p>

    <button class="button button--secondary" type="reset" name="Submit2">Zur&uuml;cksetzen</button>
    <button class="button button--primary" type="submit" name="Submit">Verbindlich anmelden</button>
</form>
