html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'din-2014', sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
}

a,
a:link,
a:visited,
a:hover {
    color: #db0000;
}

.button,
a.button {
    cursor: pointer; 
    padding: 1em;
    border: 0;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    color: #fff;}
    .button--primary {
        background-color: #db0000;}
    .button--secondary {
        background-color: #ccc;}

p,
.map {
    margin: 1.5em 0;
}

ul:not([class]) {
    list-style-position: inside;
    padding: 0;
    column-count: 2;
    column-gap: 2em;
}

.headline {
    margin: 2em 0 1em;
    font-weight: 600;
    line-height: 1.35em;
}

.first-letter-highlight::first-letter {
    font-size: 3.1em;
    float: left;
    padding-top: 0.24em;
    padding-right: .15em;
    font-weight: 600;
}

.wrap {
    width: 100%;
    max-width: 40em;
    margin: 0 auto;
    padding: 0 1rem;
}

.page_header {
    position: relative;
    padding-top: 4%;
    background: #db0000;
    line-height: 2.5em;}
    .page_header .site-title {
      display: block;
      color: #fff;
      text-decoration: none;
      text-align: center;
      overflow: hidden;
      margin-bottom: -10%; }
    .page_header .title {
      display: block;
      margin-top: 5%;
      font-size: 2.3em;
      font-weight: 500; }
      @media screen and (min-width: 640px) {
          .page_header .title {
              font-size: 2.5em; } }
        @media screen and (min-width: 1024px) {
        .page_header .title {
            font-size: 2.7em; } }
    .page_header .skyline,
    .page_header .header-logo {
      display: block;
      fill: #fff; }
    .page_header .skyline {
        display: block;
        width: 100%;
        height: 100%;
        fill: #fff; }
    .page_header .header-logo {
        margin: 0 auto;
        width: 20%;
        height: 30%;
        max-width: 150px;
        max-height: 150px;
    }

.map {
    width: 100%;
    padding-top: 100%;}
    @media screen and (min-width: 640px) {
        .map {padding-top: 50%; } }
    .map .placeholder-img {
        display: block;
        width: 100%;
        height: auto;
    }
    .map .placeholder-img img {
        width: 100%;
    }

.page_footer {
    margin-top: 2em;
    padding: 1em 0;
    background-color: #db0000;
    color: #fff;
}

/* Roomtype */
.roomtype {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 1em 0;
}

.roomtype--icon {
    width: 30%;
}

.room {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - .5em);
    flex-basis: 50%;
    border: 1px solid #ccc;
    padding: 2em 1em 0;
    fill: #888;
}

.room--single {
    margin-right: .5em;
}

.room--double {
    margin-left: .5em;
}

.roomdetail {
    text-align: center;
}

.roomprice {
    font-size: 2em;
    font-weight: bold;
    display: block;
    padding: .25em;
}

/* Form */
.form {}

.form-field {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    margin-bottom: 1em;
}

.form-field__label {
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;}
    @media screen and (min-width: 640px) {.form-field__label {
        flex-basis: 40%;
        padding-top: .25em;
    }}

.form-field__input {
    height: 2em;
    flex-basis: 100%;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 0 .5em;
    border-radius: 0;
    margin: 0}
    textarea.form-field__input {
        height: auto;
    }
    .form-field__input + .form-field__input,
    .form-field__input:not(:last-of-type) {
        width: calc(50% - .5em);
        min-width: 20%;
        flex-basis: calc(50% - .5em);}
    .form-field__input + .form-field__input {
        margin-left: 1em;}
    @media screen and (min-width: 640px) {.form-field__input {
        flex-basis: 60%;}
        .form-field__input + .form-field__input,
        .form-field__input:not(:last-of-type) {
            width: calc(30% - .5em);
            flex-basis: calc(30% - .5em);}
    
    }

.form-field__hint {
    color: #999;}
    @media screen and (min-width: 640px) {.form-field__hint {
        margin-left: 40%;
    }}
    .form-field__hint p:first-of-type {
        margin-top: .5em;
    }

/* Slider */
.slider {
    display: block;
    width: 100%;
    position: relative;
}

.frame {
    /**
     * (optional) wrapper width, specifies width of the slider frame.
     */
    width: 100%;

    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.slides {
    display: block;
    padding: 0;
    list-style: none;
}

.slides li {
    position: relative;
    display: inline-block;

    /**
     * (optional) if the content inside the slide element has a defined size.
     */
    width: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
    fill: #fff;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

.next svg, .prev svg {
    width: 25px;
}

.slides li {
    z-index: 0;
    text-align: center;
    background-size: 0;
    padding-top: 66.66%;
}

.slides li::before {
    z-index: -1;
    display: block;
    content: '';
    background-image: inherit;
    background-size: cover;
    filter: blur(20px);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.slides li img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);


    max-width: 100%;
    width: auto;
    max-height: 100%;
    height: auto;
}